@import "../global.scss";

.NumberSelector {
  align-items: center;
  display: flex;
  flex-direction: row;

  .number {
    width: 20px;
  }

  .button-controller {
    &.increase {
      margin-left: 2px;
    }
    &.decrease {
      margin-right: 2px;
    }
  }
}