@import "../global.scss";

.Tuner {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 5px;
  padding: 10px;
  border: solid;
  border-width: 1px;
  border-radius: 20px;
  border-color: #aaa;
  box-shadow: 2px 2px 7px #aaa;
}